[Desktop Entry]
Version=1.0
Type=Application
Name=daoshu
Comment=Count-down timer
Exec=env QT_AUTO_SCREEN_SCALE_FACTOR=1 daoshu
Icon=daoshu
StartupWMClass=daoshu
StartupNotify=true
Terminal=false